parameters:
	ignoreErrors:
		-
			message: '#^Trait Soyhuce\\ModelInjection\\BindModels is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/BindModels.php

		-
			message: '#^Trait Soyhuce\\ModelInjection\\ValidatesImplicitBinding is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/ValidatesImplicitBinding.php
